body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control {
  margin: 18px 0;
}

.form-control label {
  display: block;
  margin-left:7px;
  font-size:15px;
}
.form-control select{
  width: 365px;
  height: 39px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 14px;
  border:none;
  border-radius:10px;
  box-shadow: 5px 5px 5px 5px#888;
}
.form-control input {
  width: 350px;
  height: 35px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 14px;
  border:none;
  border-radius:10px;
  box-shadow: 5px 5px 5px 5px#888;
}
.btn {
  display: inline-block;
  background: #000;
  color:black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-add{
  margin-left: 100px;
  margin-top:50px;
}

.container-register{
  max-width: 380px;
  margin: 80px auto;
  overflow: auto;
  min-height: 400px;
  padding: 30px;
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}


.btn-signup{
  background:#181717;
  color:white;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
}

.container {
  max-width: 380px;
  margin: 60px;
  min-height: 400px;
  padding: 30px;
  margin-left:260px;
  background-color: white;
} 

.chat-container {
	max-width: 500px;
	background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
	margin: 30px auto;
	overflow: hidden;
}

.btn-chat{
    cursor: pointer;
    padding: 5px 15px;
    background: black;
    color:lavender;
    border: 0;
    font-size: 15px;
    text-decoration: none;
}

.chat-header {
	background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
	color: black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  height: 30px;
}

.chat-header p{
  margin-left: 130px;
  font-size:15px;
  font-style: italic;
  font-weight: bolder;
}

.containerone {
  max-width: 380px;
  margin: 80px;
  min-height: 473px;
  margin-left:700px;
  margin-top:-593px;
  padding: 30px;
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
} 
.column{
  width:50%;
  float:left;
}

.chat-main {
	display: grid;
	grid-template-columns: 390px 110px;
  height: 480px;
}

.chat-sidebar {
	background:white;
	color: black;
	padding: 10px 10px 50px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 15px;
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 10px;
  font-size: 16px;
}

.chat-sidebar ul li {
	margin-left: -10px;
  font-size: 14px;
}

.chat-sidebar ul li::marker{
  color:green;
  font-size: x-large;
}


.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
  background-color: white;
}

.chat-messages .message {
	width: 160px;
  border-radius: 5px;
	background-color: #ddd;
	position: relative;
}

.chat-messages .otherchat {
  width: 200px;
  border-radius: 5px;
	position: relative;
}

.chat-messages .other {
	background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
	position: relative;
  width: 160px;
  border-radius: 5px;
  margin-left:165px;
}


.chat-messages .message .meta {
	font-size: 13px;
	font-weight: bold;
	color: black;
	opacity: 0.7;
  margin-left: 5px;
}

.chat-messages .otherchat .meta {
	font-size: 12px;
	font-weight: bold;
	color: black;
	opacity: 0.7;
  margin-left: 5px;
}

.chat-messages .otherchat .text {
	font-size: 12px;
  margin-left: 5px;
}
.chat-messages .other .text {
	font-size: 15px;
  margin-left: 5px;
  padding-top:-2px;
  font-family: 'Courier New', Courier, monospace;
}

.chat-messages .message .text {
	font-size: 15px;
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.chat-messages .other .meta {
	font-size: 13px;
	font-weight: bold;
	color:black;
	opacity: 0.7;
  margin-left: 5px;
}

.chat-messages .message .meta span {
	color:black;
  margin-left: 5px;
  font-size:12px;
}

.chat-messages .otherchat .meta span {
	color:black;
  margin-left: 5px;
  font-size:12px;
}

.chat-messages .other .meta span {
	color:black;
  margin-left: 5px;
  font-size:12px;
}

.chat-form-container {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 14px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

